{% include "header.html" %}

<!-- Hero Section -->
<div class="px-4 py-5 my-5 text-center fade-zoom">

  <!-- Logo -->
  <img
    class="img d-block mx-auto mb-4  shadow-sm"
    src="{{ url_for('static', filename='hero.png') }}"
    alt="Beyond Careers"
    width="90"
    height="90"
  />

  <!-- Heading -->
  <h1 class="display-5 fw-bold text-body-emphasis mb-3 fade-zoom">Where Ambition Meets Opportunity</h1>

  <!-- Description -->
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 fade-zoom">
      Empowering students to turn ambition into achievement — with guidance, experience, and opportunity.
    </p>

    <!-- Call-to-action Buttons -->
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="https://www.linkedin.com/company/beyondgradess/jobs/?viewAsMember=true" target="_blank">
        <button type="button" class="btn btn-yellow btn-grow  mx-2 px-4">
          Explore Opportunities
        </button>
      </a>
      <a href="https://www.linkedin.com/in/mahavir-kumar-1b36001bb/" target="_blank">
        <button type="button" class="btn btn-yellow btn-grow  mx-2 px-4">
          Meet the Founder
        </button>
      </a>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

{% include "footer.html" %}
